body{
    display: flex;
    flex-direction: column;
}
#title {
    text-align: center;
    font-size: 200%;
}
p{
    text-align: center;
}
#chart {
    margin: auto;
}
.bar:hover{
    fill: grey;
}
#tooltip {
    position: absolute;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;
    white-space: pre;
}